/* CSS GENERALES */

/* Estilos base */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    color: #6d7b93;
    text-decoration: none;
}

p, small {
    color: #6d7b93;
    font-weight: 600;
}

h2, h3, h4, h5, h6 {
    color: #1f3e72;
    font-family: 'Montserrat', sans-serif;
}

h2, h5 {
    font-weight: 800;
}

h2 {
    margin-bottom: 30px;
    font-size: 2.1em;
}

figure {
    display: flex;
}

figure img {
    width: 100%;
    object-fit: cover;
}

body {
    background-color: #ffffff;
}

body>* {
    background-color: #ffffff;
    width: 1252px;
    margin: 0 auto;
}

.vaccination-gradient {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    background: -webkit-linear-gradient(0, #3b5bd9, #2444c2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* SECCIÓN DEL HEADER */
header {
    position: fixed;
    top: 0;
    z-index: 900;
    height: 115px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
}

div.header-container {
    width: 1252px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.header-container p {
    padding-left: 118px;
}

div.header-container nav {
    padding-right: 118px;   
}

div.header-container ul {
    display: flex;
    width: 622px;
    justify-content: space-between;
}

a.menu-item {
    font-size: 1em;
    font-weight: 600;
}

a.menu-item.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #ffffff;
    padding: 14px 24px;
    border-radius: 4px;
    background: linear-gradient(to bottom right, #3b5bd9, #2444c2);
    box-shadow: 0 14px 10px -5px #3252d044;
}


/* SECCIÓN DEL MAIN */
main.main-section {
    display: grid;
    grid-template-columns: 626px 1fr;
    grid-template-rows: 1fr 292px;
    grid-template-areas: 
    "left right"
    "bottom bottom";
}

/* Sección izquierda */
div.main-left {
    grid-area: left;
    font-family: 'Montserrat',
    sans-serif;

    margin-top: 180px;
    padding: 0 100px 0 118px;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.main-content {
    margin-bottom: 46px;
}

div.main-content h1 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -2px;
    color: #1f3e72;
    font-size: 3.4em;
    line-height: 65px;
    margin-bottom: 24px;
}

div.main-content p {
    width: 350px;
    font-weight: 500;
    line-height: 27px;
}

div.main-insights {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: .8em;
    width: 90%;
    margin-bottom: 150px;
}

div.main-insights p {
    font-weight: 600;
    color: #1f3e72;
}

h4.card-title {
    color: #1f3e72;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
}

div.card {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    width: 762px;
    padding: 40px 40px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    box-shadow: 0 42px 50px -32px #2b74fd44;
}

p.card-subtitle {
    color: #6d7b93;
    font-size: 1.2em;
    font-weight: 500;
}

div.card>div>p>strong {
    font-family: 'Montserrat', sans-serif;
    color: #1f3e72;
    font-size: 1.2em;
}

div.card input {
    font-family: 'Montserrat',
    sans-serif;
    font-weight: 500;
    color: #ffffff;
    padding: 14px 46px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(to bottom right, #3b5bd9, #2444c2);
    box-shadow: 0 14px 10px -5px #3252d044;
}

/* Sección derecha */
figure.main-image {
    grid-area: right;
}


/* Sección inferior */
figure.vaccines {
    grid-area: bottom;
    content: url(../resources/vaccines.jpg);
    width: 100%;
    object-fit: cover;
}


/* SECCIÓN DE LOS BENEFICIOS */
section.justification-section {
    margin-bottom: 160px;
}

section.justification-section h2 {
    font-weight: 800;
}

div.justification-container {
    padding: 0 118px;
}

div.justification-container>p {
    width: 460px;
    line-height: 28px;
}

div.grid-benefits {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    width: 100%;
}

div.benefits {
    display: inherit;
    flex-direction: column;
    width: 184px;
    height: 246px;
    padding: 25px;

    border-radius: 5px;
    box-shadow: 0 0 10px #3252d010;
}

div.benefits:hover {
    box-shadow: 0 14px 20px #3252d022;
    transform: scale(1.01);
}

div.benefits p.benefit-title {
    margin-top: 74px;
    color: #1f3e72;
    font-weight: 600;
    font-size: 18px;
    width: 166px;
    line-height: 22px;
    letter-spacing: 0.3px;
}

div.benefits p.benefit-description {
    width: 100%;
    margin-top: 16px;
    font-size: 12.5px;
    letter-spacing: -0.2px;
    line-height: 21px;
}


/* SECCIÓN DE PREPARACIÓN */
section.preparation-section {
    display: grid;
    grid-template-columns: 552px 1fr;
    grid-template-areas: "left right";
    margin-bottom: 160px;
}

div.preparation-content {
    grid-area: right;
    padding: 0 62px;
    height: fit-content;
}

div.preparation-content p {
    line-height: 28px;
    width: 490px;
    margin-bottom: 56px;
}

div.considerations-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
}

div.considerations {
    box-shadow: 0 0 10px #3252d010;
    border-radius: 3px;
    padding: 14px;
    width: 388px;
}

div.considerations:hover {
    box-shadow: 0 8px 20px #3252d022;
    transform: scale(1.01);
}

div.considerations h4 {
    padding-left: 58px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.5px;
}

figure.preparation-image {
    grid-area: left;
}

/* SECCIÓN DE CONTACTO */
section.contact-section {
    display: grid;
    grid-template-columns: 1fr 552px;
    grid-template-areas: "left right";
    margin-bottom: 160px;
}

div.contact-content {
    width: 498px;
    grid-area: left;
    padding: 0 62px 0 118px;
    height: fit-content;
}

div.contact-content p.reason {
    line-height: 28px;
    margin-bottom: 56px;
}

div.grid-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "top-left top-right"
        "bottom-left bottom-right";
    gap: 24px;
}

div.media {
    box-shadow: 0 0 10px #3252d010;
    border-radius: 5px;
    padding: 26px;
}

div.media-1 {
    grid-area: top-left;
}

div.media-2 {
    grid-area: top-right;
}

div.media-3 {
    grid-area: bottom-left;
}

div.media-4 {
    grid-area: bottom-right;
}

div.media-body {
    margin-top: 6px;
    margin-bottom: 32px;
    padding-left: 68px;
    display: flex;
    flex-direction: column;
}

div.media-body p {
    color: #1f3e72;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 5px;
}

div.media-body small {
    font-size: 12px;
}

div.media button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    width: 100%;
    height: 52px;
    color: #3151cf;
    border: none;
    border-radius: 4px;
    background-color: #f1f5ff;
}

div.media button:hover {
    color: #ffffff;
    background: linear-gradient(to bottom right, #3757d5, #2646c4);
    box-shadow: 0 14px 10px -5px #3252d044;
}


/* SECCIÓN DEL FOOTER */
footer {
    width: 100%;
    background-color: #eef3ff;
}

div.footer-container {
    width: 1252px;
    height: 100%;
    margin: 0 auto;
}

div.grid-footer {
    padding: 0 118px;
    padding-top: 54px;
    display: grid;
    grid-template-columns: 1fr repeat(3, 101px);
    gap: 78px;
    margin-bottom: 45px;
}

div.vaccination-footer p {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 600;
    width: 150px;
}

div.columns-footer h5 {
    font-size: 18px;
}

div.columns-footer ul {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
}

div.columns-footer ul li {
    margin: 10px 0;
    font-size: 13px;
    font-weight: 600;
}

div.flex-footer {
    padding: 0 118px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

div.flex-footer ul {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    width: 255px;
}